.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  padding: 12px 0 25px;
  z-index: 100;
  height: 80px;
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #9c9c9c;
  transition: all 0.2s ease;
  width: 25%;
  padding: 8px 0;
  cursor: pointer;

  span {
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  &.active {
    color: #ffffff;
  }

  &:hover {
    color: #ffffff;
  }
}

.icon {
  margin-bottom: 2px;
}
