.subscriptionContainer {
  padding: 20px;
  color: #ffffff;
  min-height: 100vh;
  padding-bottom: 80px;
  position: relative;

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 400;
  }
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.planGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.planCard {
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &.selected {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(80, 80, 80, 0.2);
  }

  &.selected {
    border: 2px solid #646464;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 400;
  }

  .price {
    font-size: 26px;


    color: #fff;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
      color: #b0b0b0;

      svg {
        margin-right: 10px;
        color: #00ffcc;
      }
    }
  }
}

.selectButton {
  background: #383838;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 16px;
  
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  }
}
