.profileContainer {
  padding: 20px;
  color: #ffffff;
  min-height: 100vh;
  background-color: #000000;
  padding-bottom: 80px;
}

.title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}

.userIcon {
  display: inline-block;
  margin-left: 8px;
  color: #9c9c9c;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tabButton {
  background: none;
  border: none;
  color: #9c9c9c;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;

  &.active {
    color: #ffffff;
  }
}

.subscriptionInfo {
  background-color: #1a1a1c;
  border-radius: 8px;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;

    .label {
      color: #d3d3d3;
      margin-right: 8px;
      font-weight: 200;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0px;
    }

    .value {
      color: #ffffff;
      font-size: 16px;
      line-height: 120%;
      font-weight: 600;
      letter-spacing: 0px;
    }
  }
}

.historyContainer {
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 400;
  }
}

.historyList {
  list-style-type: none;
  padding: 0;
}

.historyItem {
  background-color: #1a1a1c;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.historyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  cursor: pointer;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.streamerNickname {
  font-weight: 400;
  color: #ffffff;
}

.calculationDate {
  color: #9c9c9c;
  font-size: 14px;
}

.historyDetails {
  padding: 0px 20px 20px 20px;

  p {
    margin-bottom: 8px;
    font-size: 14px;
    span:first-child {
      color: #c4c4c4;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0px;
      display: inline;
    }

    span:last-child {
      color: #ffffff;
      display: inline;
margin-left: 4px;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0px;
    }
  }
}
.dateGroup {
  margin-bottom: 20px;

  .dateLabel {
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;

  }
}
.longLabel {
  display: block;
  margin-bottom: 4px;
}
