.profileContainer {
  position: relative;
  padding: 20px;
  color: #ffffff;
  min-height: 100vh;
  padding-bottom: 80px;

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight:400;

  }
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.tabContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabButton {
  background: none;
  border: none;
  color: #b0b0b0;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  &:hover {
    color: #ffffff;
  }
}

.subscriptionInfo, .usageHistory {
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    font-weight:400;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #e0e0e0;

    span {
      color: #7ff3dc;
    }
  }
}

.usageHistory {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      color: #b0b0b0;

      svg {
        margin-right: 10px;
        color: #00ffcc;
      }

      span {
        margin-right: 20px;
      }
    }
  }
}

.historyContainer {
  background-color: rgba(30, 30, 30, 0.671);
  border-radius: 12px;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  h3{
    margin-bottom: 20px;
    font-weight:400;

  }
}

.historyList {
  list-style-type: none;
  padding: 0;
}

.historyItem {
  background-color: rgba(40, 40, 40, 0.6);
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(99, 99, 99, 0.2);
  }
}

.historyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(60, 60, 60, 0.6);
  }
  .headerContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.streamerLink {
  font-weight: bold;
  color: #00ffcc;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.streamerNickname{
  font-weight: 400;
}
.calculationDate {
  color: #b0b0b0;
  font-size: 14px;
}

.historyDetails {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  

 

  p {
    margin-bottom: 8px;
    font-size: 14px;
    overflow-wrap: break-word; /* Альтернативный вариант */
      white-space: normal;

    span {
      color: #00ffcc;
    }
    span:last-child { // Стиль для числовых значений
      // white-space: nowrap;
      color: #ffffff;

      display: inline-block;
    }
  }
}

.emptyHistory {
  text-align: center;
  color: #b0b0b0;
  font-style: italic;
}

